<!DOCTYPE html>
<html class="theme-dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geo Search - ISSA</title>
    <link rel="icon" href="data:," >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script> -->

    <style>
      /* body, .table, table.table tr td {
        background-color: #111;
        color: #eee;
      } */
      #map { height: 80vh; }

      .video-content table td:first {
        width: 5em;
      }

      #player {
        height: 33vh;
      }

      .current {
        background-color: yellow;
        color: black;
      }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
  </head>
  <body>
    <section class="section" id="geosearch">
      <div class="container is-fluid">
        <div class="columns map-content">
          <div class="column">
            <div id="map"></div>
          </div>
          <div class="column video-content">
            <video id="player" controls class="video-js" preload="auto">
              <!-- <source src="data/collections/NI/DVC43313/00.03.33-1887/00.03.33-1887.mp4#60" type="video/mp4"> -->
              <source src="data/collections/NI/DVC43313/00.03.33-1887/00.03.33-1887.webm" type="video/webm">
            </video>
            <table v-if="selectedFeature" class="table">
              <tbody>
                <tr>
                  <td>Place</td>
                  <td>"{{ selectedFeature.video_place }}" in {{ selectedFeature.video_locality }} ({{ selectedFeature.video_start }})
                    <br>=&gt; {{ selectedFeature.properties.name }} (Nominatim)
                  </td>
                </tr>
                <tr>
                  <td>In clip:</td>
                  <td>{{ selectedFeature.video_path }}</td>
                </tr>
                <tr>
                  <td>Clip summary:</td><td>{{ selectedFeature.video_summary }}</td>
                </tr>
                <tr>
                  <td>Clip parts</td>
                  <td>
                    <ul>
                      <li v-for="unit in clipDisplayUnits">
                        <a @mouseenter="requestVideoJumpInTimeCode(unit.start)" @click="requestVideoJumpInTimeCode(unit.start, true)">{{ unit.start }}</a>: 
                        <span :class="{'current': unit.current}">{{ unit.summary }}</span>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <script>
      const { createApp } = Vue;

      async function loadJson(url) {
        let ret = {}
        try {
          const response = await fetch(url);
          if (!response.ok) {
            console.log(`HTTP error! status: ${response.status}`);
          }
          const data = await response.json();
          ret = data
        } catch (err) {
          console.error('Error loading JSON:', err);
        }
        return ret
      }

      var redSportsIcon = L.AwesomeMarkers.icon({
        icon: 'futbol-o', // Font Awesome icon for soccer ball
        markerColor: 'red',
        prefix: 'fa'
      });

      createApp({
        data() {
          return {
            message: 'Hello Vue!',
            selectedFeature: null,
            clipAnswersContent: null,
            videoCurrentTime: 0,
          }
        },
        async mounted() {
          this.requestedVideoJumpTime = null
          this.requestedVideoPlay = false

          // leaflet_map.getBounds()
          /*
          [
            bounds.getWest(),
            bounds.getSouth(),
            bounds.getEast(),
            bounds.getNorth()
          ].join(','); 
          */
          let map = L.map('map').setView([54.8, -6.5], 7);
          window.leaflet_map = map
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);
          this.map = map;

          // this.player = videojs('player');
          const mediaElement = document.querySelector('#player'); // or 'audio'          
          // video.load();
          // mediaElement.play();
          this.mediaElement = mediaElement
          mediaElement.addEventListener('canplaythrough', () => {
            console.log('canplaythrough')
            this.jumpVideoToRequestedTime()
          }, false);

          const intervalId = setInterval(() => {
            this.videoCurrentTime = mediaElement.currentTime
            console.log(this.videoCurrentTime)
          }, 300);

          this.index = await loadJson('tools/index_places.json')

          let self = this
          this.geoLayer = L.geoJSON(
            this.index.data,
            {
              onEachFeature: (feature, layer) => {
                // Highlight the marker on hover
                layer.on('mouseover', () => {
                    // this.setStyle({ color: 'red' });
                    this.selectedFeature = feature
                    console.log(feature)
                    let videoSrc = feature.video_path.replace('../data/', 'data/').replace('.mp4', '.webm')
                    if (!mediaElement.src.endsWith(videoSrc)) {
                      mediaElement.src = videoSrc
                      this.fetchClipAnswers()
                    }
                    this.requestVideoJumpToSelectedFeature()
                });

                // Reset the style on hover out
                layer.on('mouseout', () => {
                    // this.setStyle({ color: 'black' }); // or your original style
                    // this.selectedFeature = null
                    mediaElement.pause()
                });
              
                // Reset the style on hover out
                layer.on('click', () => {
                    // this.setStyle({ color: 'black' }); // or your original style
                    mediaElement.play()
                });
              },
              pointToLayer: (feature, latlng) => {
                // Check if the feature has the specific property value
                if (feature.video_sport) {
                  // Create a red marker using a DivIcon
                  // var markerHtmlStyles = "background-color: grey; width: 1.3rem; height: 1.3rem; display: block;";
                  // var customIcon = L.divIcon({
                  //   html: `<span style="${markerHtmlStyles}" />`
                  // });
                  // return L.marker(latlng, { icon: customIcon });

                  var newIcon = L.icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34]
                  });
                  return L.marker(latlng, {icon: newIcon});                  
                } else {
                  // Default marker style for other values
                  return L.marker(latlng);
                }
              }
            },
          ).addTo(this.map);
        },
        computed: {
          clipDisplayUnits() {
            let ret = this.clipUnits
            ret.sort((a, b) => a.start.localeCompare(b.start))
            let pLast = null
            for (let p of ret) {
              p.current = (this.videoCurrentTime + 5) > this.getSecondsFromTimeCode(p.start)
              if (pLast && p.current) {
                pLast.current = false
              }
              pLast = p
            }
            return ret
          },
          clipUnits() {
            let parts = this.clipAnswersContent?.data?.parts?.answer
            if (parts) {
              if (Array.isArray(parts)) {
                return parts
              }
              for (let p of Object.values(parts)) {
                if (Array.isArray(p)) {
                  return p
                }
              }
            }
            return []
          }
        },
        methods: {
          requestVideoJumpToSelectedFeature(play=false) {
            if (this.selectedFeature) {
              this.requestVideoJumpInTimeCode(this.selectedFeature.video_start, play)
            }
          },
          requestVideoJumpInTimeCode(timeCode, play) {
            this.requestVideoJumpInSeconds(this.getSecondsFromTimeCode(timeCode), play)
          },
          requestVideoJumpInSeconds(timeInSeconds, play) {
            this.requestedVideoJumpTime = timeInSeconds
            this.requestedVideoPlay = play
            this.jumpVideoToRequestedTime()
          },
          getSecondsFromTimeCode(timeCode) {
            const [hours, minutes, seconds] = timeCode.split(':').map(Number);
            ret = hours * 3600 + minutes * 60 + seconds;
            return ret
          },
          jumpVideoToRequestedTime() {
            if (this.requestedVideoJumpTime !== null) {
              this.mediaElement.currentTime = this.requestedVideoJumpTime
              if (this.requestedVideoPlay) {
                this.mediaElement.play()
              } else {
                this.mediaElement.pause()
              }
              this.requestedVideoPlay = false
              this.requestedVideoJumpTime = null
            }
          },
          async fetchClipAnswers() {
            if (this.selectedFeature) {
              let url = this.selectedFeature.video_path.replace('../data/', 'data/')
              url = url.replace(/[^/]+\.mp4/, 'transcription_answers.json')
              this.clipAnswersContent = await loadJson(url)
            }
          }
        }
      }).mount('#geosearch')
    </script>
  </body>
</html>
